.grid-component-sub__btn {
  @include text-style(white, 1em);
  font-family: inherit;
  background-color: lighten($bright-yellow, 10%);
  border: none;
  border-radius: 0.4em;
  width: 100%;
  margin-top: 1.7em;
  padding: 0.9em;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}
